{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Create Item
        </h1>

        {{ form(form) }}
    </div>
{% endblock %}
